body:after {
    content: '';
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-image: url('../images/site-background.jpg');
    background-size: cover;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    z-index: -1;
}

.content-wrap {
    background: rgba(17, 3, 17, 0.9);
}

.content-wrap {
    max-width: 1240px;
}

.youplay-matches-list .youplay-single-match+.youplay-single-match {
    margin-top: 2rem;
}
.youplay-matches-list .youplay-single-match .angled-img {
    max-width: 10rem;
}
.angled-img, .angled-img:focus, .angled-img:hover {
    color: inherit;
    text-decoration: none;
    outline: 0;
}
.angled-img {
    position: relative;
    display: block;
}
.ml-30 {
    margin-left: 30px!important;
}
.youplay-matches-list .youplay-single-match .youplay-match-title {
    -o-transition: .3s color ease;
    transition: .3s color ease;
}
.date {
    margin-top: 8px;
    font-size: 1.2rem;
}
.date, .tags {
    color: rgba(255, 255, 255, 0.65);
}
.youplay-matches-list .youplay-single-match .youplay-match-count {
    float: right;
    font-size: 2rem;
    margin-top: 3rem;
    padding: 1rem 2rem;
}
.label {
    position: relative;
    background: 0 0;
    z-index: 1;
}
.label, .youplay-select {
    font-weight: 400;
}
.label:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    -webkit-transform: skew(-8deg);
    -ms-transform: skew(-8deg);
    -o-transform: skew(-8deg);
    transform: skew(-8deg);
    background: rgba(60,7,50,.4);
}

.youplay-user .user-data {
    position: relative;
    display: inline-block;
    padding: 1.8rem 3rem;
    margin-left: -4px;
    height: 151px;
}

.youplay-user h2 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.youplay-banner .info .youplay-user h2 {
    font-size: 3.5rem;
    margin-bottom: .5rem;
    margin-top: 0;
}

.youplay-user .user-data .activity>div .title, .youplay-user .user-data .location, .youplay-user .user-data .youplay-user-activity>div .title {
    font-size: 1rem;
    color: rgba(60,7,50,.65);
}
.youplay-user .user-data > * {
    position: relative;
    z-index: 2;
}
.youplay-user .user-data:after {
    position: absolute;
    background: rgba(255,255,255,.4);
    transform: skew(-8deg);
    z-index: 1;
}
.youplay-user .user-data:after, .youplay-user-navigation ul li>a:after {
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}











